<div class="p-5 flex flex-col gap-5">
  <div class="text-navy font-bold">ติดต่อ</div>
  <div class="flex flex-col items-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2494.3123262734152!2d100.13138810174472!3d14.464054777190258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2385bffffffff%3A0x3e0ccec3ef1f8b72!2z4Lit4LiH4LiE4LmM4LiB4Liy4Lij4Lia4Lij4Li04Lir4Liy4Lij4Liq4LmI4Lin4LiZ4LiI4Lix4LiH4Lir4Lin4Lix4LiU4Liq4Li44Lie4Lij4Lij4LiT4Lia4Li44Lij4Li1!5e1!3m2!1sth!2sth!4v1780908192512!5m2!1sth!2sth"
      width="1200"
      height="600"
      style="border: 2"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <div
      class="w-full max-w-[800px] bg-white p-4 rounded-xl shadow-xs border border-gray-100 flex justify-center"
    >
      <img
        src="contact.jpg"
        alt="หมายเลขโทรศัพท์ภายใน"
        class="w-full h-auto object-contain max-w-full rounded-md"
      />
    </div>
  </div>
</div>
