@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Kanit', sans-serif;
  --color-navy: #0d2d5e;
  --color-navy-light: #1a4080;

  --color-gold: #c8a84b;
  --color-gold-light: #e8c96a;
}

@layer base {

  html,
  body {
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}